black==22.1.0
click==8.0.3
greenlet==1.1.2
la-catch==0.0.3
mypy-extensions==0.4.3
-e git+https://github.com/thiagola92/page_fetcher.git@885c878b2e98f571c6d593dfda4f2ea5efc2036f#egg=page_fetcher
pathspec==0.9.0
platformdirs==2.4.1
playwright==1.18.2
pyee==8.1.0
tomli==2.0.0
websockets==10.1
