aiodns==3.0.0
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
black==22.1.0
Brotli==1.0.9
cchardet==2.1.7
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
cssselect==1.1.0
frozenlist==1.3.0
greenlet==1.1.2
idna==3.3
la-catch==0.0.3
la-headers==0.0.1
lxml==4.8.0
multidict==6.0.2
mypy-extensions==0.4.3
packaging==21.3
-e git+https://github.com/thiagola92/page_fetcher.git@c4c79d8b7736af8143414b8928bdabb8b0c481cb#egg=page_fetcher
parsel==1.6.0
pathspec==0.9.0
platformdirs==2.5.1
playwright==1.20.0
pycares==4.1.2
pycparser==2.21
pyee==8.1.0
pyparsing==3.0.7
six==1.16.0
structlog==21.5.0
tomli==2.0.1
w3lib==1.22.0
websockets==10.1
yarl==1.7.2
