aiodns==3.0.0
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
Brotli==1.0.9
cchardet==2.1.7
cffi==1.15.0
charset-normalizer==2.0.12
frozenlist==1.3.0
greenlet==1.1.2
idna==3.3
la-catch==0.0.3
la-headers==0.0.1
multidict==6.0.2
packaging==21.3
-e git+https://github.com/thiagola92/page_fetcher.git@e798dfd3cb77824d864cf84d614f81bbb30886c5#egg=page_fetcher
playwright==1.20.0
pycares==4.1.2
pycparser==2.21
pyee==8.1.0
pyparsing==3.0.7
websockets==10.1
yarl==1.7.2
